/* background colors palette*/
.bg-ImperialRed{
    background-color: #e63946;
}
.bg-Honeydew{
    background-color: #f1faee;
}

.bg-PowderBlue{
    background-color: #a8dadc;
}

.bg-CeladonBlue{
    background-color: #457b9d;
}

.bg-PrussianBlue{
    background-color: #1d3557;
}

/* button color palette*/
.bg-Mango{
    background-color:#FFBE0B;
}

.bg-OrangePantone{
    background-color:#FB5607;
}

.bg-WinterSky{
    background-color:#FF006E;
}

.bg-BlueViolet{
    background-color:#8338EC;
}

.bg-Azure{
    background-color:#3A86FF;
}

.bg-Pistachio{
    background-color:#90BE6D;
}

.bg-QUeenBlue{
    background-color:#577590;
}

.bg-NavBlue{
    background-color: #1b202c;
}