/* Table css*/

td {
  height:25px;
  width:25px;
  border:1px solid #283042;
}

#board{
    margin-top:20px;
}

.wall {
    background-color: blueviolet;
}

.unvisited:hover{
  background-color:#000;
}
